
@media (max-width:495px) {
	/*Carusel*/
	.scrollerContainer {
		margin: 10px 0;
	}
}

.bets {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    margin: 5px;
}

#bet {
    text-align: right;
}

.buttons {
    text-align: center;
}

.winList {
    padding: 5px;
    list-style: none;
		text-align: center;
}

.spinking-item {
    display: inline-block;
    background: url(../images/Cases/itembg.png) #111;
    color: #fff;
    height: 127px;
    width: 123px;
    margin: 5px 4px;
    text-align: right;
    overflow: hidden;
    position: relative;
}
.spinking-item {
    background-size: cover;
}

.bg-industrial {
    background-image: url(../images/spinking/background-industrial.png);
}

.bg-milspec {
    background-image: url(../images/spinking/background-milspec.png);
}

.bg-classified {
    background-image: url(../images/spinking/background-classified.png);
}

.bg-restricted {
    background-image: url(../images/spinking/background-restricted.png);
}

.bg-covert {
    background-image: url(../images/spinking/background-covert.png);
}

.bg-rare {
    background-image: url(../images/spinking/background-rare.png);
}

.img-holder {
    height: 75px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    width: 75px;
    margin: 0 auto;
    margin-top: 7px;
    overflow: hidden;
    box-shadow: 0 0 1px RGBA(0, 0, 0, 0.2);
}

.spinking-item img {
    height: 100%;
    width: auto;
}

.xCounter {
    position: absolute;
    top: 7px;
    right: 17px;
    background: #fff;
    color: #000;
    padding: 6px;
    border-radius: 50%;
    font-size: .8em;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1.2em;
}

.spinking-item .weaponInfo {
    text-align: left;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    padding: 3px;
    background: RGBA(0, 0, 0, 0.3);
    white-space: nowrap;
}

.spinking-item-name, .spinking-item-descr {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.spinking-item-name {
    font-weight: bold;
    font-size: 13px;
}

#icons-copyright {
    color: #313841;
    font-size: 0.7em;
    margin-left: 5px;
}

#icons-copyright a {
    color: #3C4653;
    text-decoration: none;
}
@keyframes test {
	0%{
		margin:auto;
	}
	100% {
		margin: auto;
	}
}
