.sort > .dropdown {
    margin: 5px 2px;
    vertical-align: top;
}
.sort {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, #1A2B3B, #233444, #272B37, #192229);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-top: 1px solid RGBA(0, 0, 0, 0.2);
    padding: 5px 0;
    top: 39px;
}
.sort select.input-sort {
    width: auto;
    display: inline-block;
}
.closeInventory {
    position: fixed;
	top: 6px
}
.inventoryList {
    padding: 45px 0 15px 0;
}
@media (max-width:420px) {
	.inventoryList {
		padding-top: 70px;
	}
}
.statistic {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    background: linear-gradient(to right, #1A2B3B, #233444, #272B37, #192229);
    box-shadow: 0 0 10px #000;
    height: 25px;
    font-family: LatoRegular;
    font-size: 0.9em;
    line-height: 24px;
    left: 0;
}
.stat {
    margin: 0 5px;
}
.menu-bar {
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}
.inventory {
    padding-left: 0;
    text-align: center;
}
.inventory.bottomBar-active {
    padding-bottom: 60px;
}
#weaponInfoContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background: RGBA(0, 0, 0, 0.46);
}
.fullWeaponInfo, .stickerScratch {
    display: block;
    background: #fff;
    color: #535353;
    width: 360px;
    font-family: LatoRegular;
    text-align: center;
    box-shadow: 0px 0px 7px #000;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) translateY(20px);
    transform: translate(-50%, -50%) translateY(20px);
    transition-duration: 0.5s;
    border-radius: 7px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 5px;
    background: url(../images/Weapons/dot.png) no-repeat, url(../images/Weapons/dot.png) no-repeat, url(../images/Weapons/dot.png) no-repeat, url(../images/Weapons/dot.png) no-repeat,url(../images/Weapons/bottom.png) no-repeat, url(../images/Weapons/squares.png) no-repeat, url(../images/Weapons/squares.png) no-repeat, linear-gradient(to bottom, #fff, #E6E6E6);
    background-position: 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), bottom, 20px 0, calc(100% - 20px) 100%, 0;
    background-size: 7px, 7px, 7px, 7px, 60px, 19px 7px, 19px 7px, 100%;
}
.stickerScratch {
    height: 400px;
    position: fixed;
    z-index: 21;
}
.fullWeaponInfo table {
    background: #E9E9E9;
    color: #535353;
}
.fullWeaponInfo.graffiti .lock, .fullWeaponInfo.sticker .lock {
    display: none;
}
.info-closed {
    opacity: 0;
}
.img_container {
    position: relative;
}
#weaponStickers {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    width: 100%;
}
img.sticker_small {
    width: 75px;
}
.fullWeaponInfo-close {
    width: 25px;
    height: 25px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 0 0 0 7px;
    right: 0;
    line-height: 1.7em;
    font-weight: bolder;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px RGBA(0, 0, 0, 0.41);
    box-shadow: 0 0 3px RGBA(0, 0, 0, 0.41);
}
#weaponImg, #weaponLoadingImg {
    width: 100%;
    background: #5c5c5c;
    /*background: linear-gradient(45deg, #645981, #7074C9);
    background: linear-gradient(45deg, #FFEBCE, #D49F35);*/
    background: -webkit-radial-gradient(at top, #86AEF6, #284271);
    background: radial-gradient(at top, #86AEF6, #284271);
}
.graffiti #weaponImg, .graffiti #weaponLoadingImg {
    background: url(../images/Cases/graffitibg.jpg);
    background-size: 100% 100%;
}

#weaponLoadingImg {
    color: #fff;
    font-size: 2em;
    padding: 150px 0;
}
#weaponName {
    font-family: LatoBold;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
	  overflow: hidden;
	  text-overflow: ellipsis;
}
.weapon-infoBlock {
    padding: 5px 10px;
}
#weaponInfoTable {
    width: 100%;
}
table#weaponInfoTable tr {
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
}
#weaponInfoTable td {
    text-align: left;
    padding: 0 2px;
    padding-top: 4px;
}
#weaponInfoTable td:nth-child(2n) {
    text-align: right;
}
#statTrakImg {
    width: 70px;
    position: absolute;
    right: 0;
}
@media (max-height:555px) {
	.fullWeaponInfo {
		width: 450px;
		padding: 5px;
		padding-top: 0;
	}
	#weaponImg {
		width: 150px;
		float: left;
		margin: 8px 0 8px 8px;
	}
	#weaponInfoTable {
		width: calc(100% - 160px);
		margin-top: 5px;
	}
	#weaponInfoTable tr td:nth-child(2n) {
		padding-left: 15px;
	}
	#statTrakImg {
		width: 55px;
		position: absolute;
		right: 0;
		left: 7px;
		bottom: 7px;
	}
}

@media (max-width: 450px) {
	.weapon {
		height: 113px;
		width: 98px;
        background-size: 105px;
	}
	.wp-statTrak::before {
		margin-top: 65px;
	}
	.weapon .li_item_img {
		width: 86px;
		max-height: 91px;
	}
	.type {
		font-size: 9px;
	}
	.weapon i {
		font-size: 7pt;
		font-family: Lato;
		font-weight: Lighter;
	}
    .weapons_stickers {
        top: 58px !important;
    }
}

@media (max-width: 320px) and (max-height: 555px) {
    .fullWeaponInfo {
		max-width: calc(100% - 20px);
		padding: 0;
        max-height: calc(100% - 90px);
        padding-bottom: 10px;
        -webkit-transform: translate(-50%, -50%) translateY(0px);
        transform: translate(-50%, -50%) translateY(0px);
	}
	#weaponImg {
		width: 100%;
		float: none;
		margin: 0;
	}
	#weaponInfoTable {
		width: 100%;
		margin-top: 0;
	}
	#weaponInfoTable tr td:nth-child(2n) {
		padding-left: 15px;
	}
	#statTrakImg {
		width: 55px;
		position: absolute;
		right: 0;
		left: 7px;
		bottom: 7px;
	}
}

.bottomBar {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}

.nextItem-to-left {
    left: 0;
    opacity: 0;
}

.nextItem-from-left {
    left: 50%;
    opacity: 1;
}

/* Buttons */
button.update_price {
    border: none;
    background: transparent;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 6px #005DFF;
    vertical-align: middle;
}
.lock {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
}
.lock-li {
    top:0;
    padding: 2px 5px;
}